
services:
  web:
    image: nginx:latest 
    container_name: http_${COMPOSE_PROJECT_NAME}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.http-${COMPOSE_PROJECT_NAME}.rule=Host(`${HOST_URL_WWW}`)"
      - "traefik.http.routers.http-${COMPOSE_PROJECT_NAME}.entrypoints=web, websecure"
      - "traefik.http.routers.http-${COMPOSE_PROJECT_NAME}.tls=true"
      # Define a new router for HOST_URL without the www to HOST_URL_WWW with the www
      - "traefik.http.routers.redirect-${COMPOSE_PROJECT_NAME}.rule=Host(`${HOST_URL}`)"
      - "traefik.http.routers.redirect-${COMPOSE_PROJECT_NAME}.entrypoints=web,websecure"
      - "traefik.http.middlewares.redirect-to-www-${COMPOSE_PROJECT_NAME}.redirectregex.regex=^https?://${HOST_URL}(.*)"
      - "traefik.http.middlewares.redirect-to-www-${COMPOSE_PROJECT_NAME}.redirectregex.replacement=https://${HOST_URL_WWW}$${1}"
      - "traefik.http.middlewares.redirect-to-www-${COMPOSE_PROJECT_NAME}.redirectregex.permanent=true"
      - "traefik.http.routers.redirect-${COMPOSE_PROJECT_NAME}.middlewares=redirect-to-www-${COMPOSE_PROJECT_NAME}"

    # ports:
    #   - "${HOST_PORT}:80"  
    volumes:
      - "${HTML_DIR:-./html}:/usr/share/nginx/html:z" 
    restart: always
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
