
services:
  web:
    image: nginx:latest 
    container_name: http_${COMPOSE_PROJECT_NAME}
    labels:
      - "traefik.enable=true"
      # HTTPS router serving both apex and www, terminates TLS
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-secure.rule=Host(`${HOST_URL}`,`${HOST_URL_WWW}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-secure.entrypoints=websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-secure.tls=true"
      # HTTP router redirects both hosts to HTTPS
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-redirect.rule=Host(`${HOST_URL}`,`${HOST_URL_WWW}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-redirect.entrypoints=web,websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-redirect.middlewares=redirect-to-https-${COMPOSE_PROJECT_NAME}"
      - "traefik.http.middlewares.redirect-to-https-${COMPOSE_PROJECT_NAME}.redirectscheme.scheme=https"

    # ports:
    #   - "${HOST_PORT}:80"  
    volumes:
      - "${HTML_DIR:-./html}:/usr/share/nginx/html:z" 
    restart: always
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
